{% extends "user/user_base.html" %}
{% load sekizai_tags %}

{% block page_title %}User Page | {{ block.super }}{% endblock %}

{% block left %}
{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}js/user_index.js"></script>{% endaddtoblock %}
  <p>Add a topic!</p>
  <form id="topic_create_form">
    {% csrf_token %}
    {{ subject_create_form.as_p }}
    <input type="button" onclick="add_topic_clicked();" value="submit" />
  </form>
{% endblock %}

{% block center %}
  <p>Top: Vote on anything that you haven't voted on yet</p>
  <table border="0">
    <tr>
      <th>Subject</th>
      <th>Interest</th>
      <th>Skill</th>
    </tr>
    {% for topic in topics_unvoted %}
        <tr>
            <td>
                <b><a href="{{ topic.url }}" target="_blank">{{ topic.subject }}</a></b> <small><i>({{ topic.get_depth_display }})</i></small>
            </td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td colspan="3">{{ topic.description }}<i><small> Submitted by: {{ topic.suggested_by }} </small></i></td>
        </tr>
        <tr><td><br></td></tr>
    {% endfor %}
  </table>
  <p>Bottom: Alter votes on anything that you may want to change</p>
  {% for vote_item in vote_data %}
    {{ vote_item }}<br />
  {% endfor %}
{% endblock %}

{% block right %}
  <p>{% lorem 3 p %}</p>
{% endblock %}
